

<h2 class="main-header">Erin Shamrocks </h2>
<h2 class="second-header">Minor Hockey Association</h2>
  <div class="slogan">

    <h1 class="slogan-header"><span class="slogan-top"></span><span class="slogan-colour">COMING</span><span class="slogan-bottom"> SOON!!</span></h1>

</div>

 <img src="stylesheets/newlogo.png" class="big-image">
 <div class="information">
  <p>For more information contact Tom Sadler at <span class="bold"></span><a href="mailto:tom.sadler0909@gmail.com" class="email-link"> tom.sadler0909@gmail.com</a></p>
  </div>
 <div class="information2">
  <p>Web Developer <span class="bold"></span><a href="mailto:jkosziwka@outlook.com" class="email-link">JK Developments</a></p>
  </div>

