

<h2 class="main-header">Erin Shamrocks </h2>
<h2 class="second-header">Minor Hockey Association</h2>
  
<script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-6fz" class="countdown-timer" data-width="400" data-timezone="America/Toronto" data-textcolor="#9acd32" data-date="2020-02-07 19:00">Countdown to Launch</a>
  <div class="slogan">




    <h1 class="slogan-header"><span class="slogan-top"></span><span class="slogan-colour">COMING</span><span class="slogan-bottom"> SOON!!</span></h1>

</div>

 <img src="stylesheets/newlogo.png" class="big-image">
 <form
  action="https://formspree.io/mjvwkwoy"
  method="POST" class="sform">

    <input type="text" name="_replyto" id="email-box" placeholder="Your Email">

  <!-- your other form fields go here -->

  <button type="submit" class="form-button">Subscribe</button>
</form>

 <div class="information">
  <p>For more information contact Tom Sadler at <span class="bold"></span><a href="mailto:shamrockserin@gmail.com" class="email-link">shamrockserin@gmail.com</a></p>
  </div>
 <div class="information2">
  <p>Web Developer <span class="bold"></span><a href="mailto:jkosziwka@outlook.com" class="email-link">JK Developments</a></p>
  </div>

