<section class="jumbotron">
  <div class="slogan">
    <h1 class="slogan-header"><span class="slogan-top"></span><br><span class="slogan-colour">COMING</span><br><span class="slogan-bottom">SOON.</span></h1>

  <img src="stylesheets/logo.png" class="big-image">


  <div class="information">
  <p>For more information contact Tom Sadler at <span class="bold"></span> tom.sadler0909@gmail.com</p>
  </div>
  </div>


</section>

