body {
	padding:0px;
	margin:0px;
}


.jumbotron{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('rink2.jpg');
  background-position:center;
  background-size:cover;
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}

.big-image {
	height:50vh;
	position:absolute;
	top:20vh;
	right:8vh;

}

.main-container {
	padding:0;
	margin:0;
}
.slogan{
  color:#fff;
  text-align:center;
  font-size:3rem;
  width:50%;
  height:65%;
  z-index:1;
  /*background-color:rgba(13, 0, 0, 0.7);*/
  opacity:1;
  /*float:right;*/
  padding:20px;
  animation: 2s ease-out 0s 1 slideinfromleft; 
  margin: 0 auto;
}

.slogan-colour {
  color:#FFFF66;
}
.slogan-header {
  letter-spacing:.1rem;
  font-weight:900;
  line-height:49px;
  margin-bottom:10px;
  padding-top:25px;
  padding-right:150px;
}



.information {
	color:#fff;
	font-size: 1.75rem;
	text-align:center;
	margin:0;
	display: inline;
	padding: 0px;
	margin: 0;
	float:left;
	padding-left:25px;
}

.information2 {
	color:#fff;
	font-size: 1.75rem;
	text-align:center;
	margin:0;
	display: inline;
	padding: 0px;
	margin: 0;
	float:right;
	padding-right:25px;
}

.bold {
	font-weight:900;
}

.main-header {
	color:#9ACD32;
	font-size:1.5rem;
	margin:0;
	padding:25px;
	text-transform: uppercase;
}

.email-link {
	color:#9ACD32;
}


@media (max-width:950px){
.big-image {
	height: 25vh;
	position: absolute;
	top: 2.5rem;
	right: 0;

}
.main-header {
	font-size:1rem;
}

.slogan {
	font-size:2rem;
	height:25%;
	margin:0;
}
.slogan-bottom {
	padding-left:15px;
}
.information{
	font-size:1.5rem;
	text-align:left;
	position: absolute;
	bottom: 10%;
}

.information2{
	/*font-size:1rem;
	text-align:left;
	padding-right:0px;
	padding-left:25px;
	float:left;*/
	display:none;
}

}
